[Unit]
Description=Timezone change service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=Simple
Restart=on-failure
RestartSec=5s
StartLimitInterval=120s
StartLimitBurst=12

# Add path to Geoboi executable here

ExecStart=
 
[Install]
WantedBy=multi-user.target